.banner {
  height: 448px;
  position: relative;
  color: white;
  object-fit: contain;
}

.banner-contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner-buttons {
  margin-top: 1rem;
}

.banner-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: 700;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner-button:hover {
  background-color: #e6e6e6;
  color: #000;
}

.banner-description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner-fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: absolute;
  bottom: 0;
  width: 100%;
}
