.netflix-footer {
  background: #111;
  color: #777;
  padding: 60px 0;
  margin-top: 120px;
  border-top: 4px solid #222;
}
.netflix-footer ul {
  display: flex;
  list-style: none;
  margin: 10px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 25px;
}

.top-text {
  margin-bottom: 30px;
  color: #aaa;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}

.footer-links a {
  color: #777;
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 12px;
  display: block;
}

.footer-links a:hover {
  text-decoration: underline;
}

.country {
  color: #999;
  font-size: 0.9rem;
}

/* Mobile */
@media (max-width: 700px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
