/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.netflix-header {
  width: 100%;
  background: #111;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
  backdrop-filter: blur(6px);
}

.container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo img {
  width: 110px;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  color: #ddd;
  text-decoration: none;
  font-size: 1rem;
}

.actions ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  color: #ddd;
}


/* Hamburger */
.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  background: #fff;
  height: 3px;
  border-radius: 3px;
  width: 100%;
}

/* Responsive */
@media (max-width: 900px) {
  .nav,
  .actions {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav.open {
    display: flex;
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    background: #000;
    padding: 20px;
    width: 200px;
    border-radius: 4px;
  }
}
